@charset "UTF-8";
body{
    font-family: 'Merriweather', serif;
    font-size: 1em;
}
h1, h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 3em;
}
h1{
    position: absolute;
    margin-left: 4%;
}
h2{
    margin-top: 12%;
    text-align: center;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-align: center;
}
p{
    text-indent: 5%;
}
.me{
    position: relative;
}
img{
    margin-top: 2%;
}
a{
    display: inline;
    position: relative;
    overflow: hidden;
    color: #666666;
}
a:after{
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -5px;
  background: #99CCCC;
  height: 4px;
  transition-property: left right left;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;    
}
a:hover{
    color: #666666;
}
a:hover:after,
a:focus:after,
a:active:after {
  right: 0;
}
footer{
    margin-top: 5%;
}