body, html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    padding: 1%;
}

h1 {
    font-weight: 700;
}

h2 {
    font-size: 1.25rem;
    font-weight: 300;
}

a {
    color: #737373;
    text-decoration: none;
    font-weight: 700;
}

a.secondary {
    font-weight: 300;
}
a:hover {
    color: #92CF93;
}

#projects ul {
    list-style-type: none;
    width: 48%;
    padding-left: 0;
    float: left;
}

#projects li {
    border-width: thin;
    border-style: solid;
    border-color: #92CF93;
    min-width: 98%;
    min-height: 25vh;
}